.rune-path {
  display: flex;
  list-style: none;
  margin: 0 0 0 1em;

  &__rune {
    align-items: center;
    display: flex;

    &:before {
      background-color: #1A1C1E;
      border: 1px solid #1C1F20;
      content: ' ';
      display: block;
      height: 10px;
      width: 4em;
    }

    &:first-child:before {
      display: none;
    }

    &--highlight:before {
      background-color: #313234;
      border-color: #4F4F4F;
    }
  }

  @media only screen and (max-width: 52rem) {
    &__rune:before {
      width: 1rem;
    }
  }

  @media only screen and (min-width: 52rem) and (max-width: 64rem) {
    &__rune:before {
      width: 3rem;
    }
  }
}